mixin toolbar(user)
  #toolbar
    div.right
      if user 
        div.welcome
          h4.msg Hello, #[span.username= user.username + ' !']
      div.buttons
        button#register Register 
        button#login Login
        button#logout Logout
      
