mixin roomItem()
  div.item
    div.info
        h3.name General Room
        div.meta
            h5.member-count #[em 8 members]
            h5.last-activity Last update: Saturday June 10, 2016
    div.action
        button#preview Preview
        button#join Join
  div.sep
