mixin roomItem(room)
  div.item
    div.info
        h3.name= room.name
        div.meta
            h5.member-count #[em #{room.members.length} members]
            if room.lastActivity 
              h5.last-activity Last update: #{room.lastActivity}
    div.action
        button#preview Preview
        button#join Join
  div.sep
